<ion-header>
  <ion-toolbar>
    <ion-title>create boats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="boatForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="brand" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="model" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select formControlName="status" type="text" required>
          <ion-select-option value="Checking">Checking</ion-select-option>
          <ion-select-option value="Repairing">Repairing</ion-select-option>
          <ion-select-option value="Repaired">Repaired</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="userId" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Manager</ion-label>
        <ion-select formControlName="managerId" type="text" required>
          <ion-select-option *ngFor="let manager of Managers" value='{{manager.id}}'>{{manager.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input formControlName="file" type="file" (change)="fileChange($event)">
        </ion-input>
      </ion-item>

    </form>
  </ion-list>
  <div class="container">
    <ion-button class="add" type="submit">Add</ion-button>
  <ion-button class="cancel" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-content>

