
ion-title{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
#container{
    background: linear-gradient(225deg, #50c4c8, #4158d0);
}
ion-content{
    --background: linear-gradient(100deg, #4158d0, #50c4c8);
}
ion-searchbar{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
ion-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
ion-card-title{
    text-align: center;
    font-size: x-large;
    color: rgb(133, 7, 7);
}
.sub{
    color:rgb(113, 168, 30);
    text-align: center;
    font-size: smaller;
    margin-top:3%;
}
.model{
    margin-top:5%;
    text-align: center;
    font-size: smaller;
    color: rgb(0, 0, 0);
}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
ion-card{
    --background: linear-gradient(45deg, #c2c2c2, #ffffff);
    margin-bottom: 10%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
ion-progress-bar{
    --progress-background:rgb(113, 168, 30);
    --background: rgb(242, 255, 223);
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
}
.manager{
    margin-top:5%;
    text-align: center;
    font-size: smaller;
    color: grey;
}