<ion-header>
  <ion-toolbar>
    <ion-title>update-boats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="boatForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input formControlName="brand" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input formControlName="model" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select formControlName="status" type="text" required>
          <ion-select-option value="Checking">Checking</ion-select-option>
          <ion-select-option value="Repairing">Repairing</ion-select-option>
          <ion-select-option value="Repaired">Repaired</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ID Usuario</ion-label>
        <ion-input formControlName="userId" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ID Manager</ion-label>
        <ion-input formControlName="managerId" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input formControlName="file" type="file" (change)="fileChange($event)">
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Update</ion-button>
          <ion-button color="danger" expand="block" (click)="cancel()">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
