ion-item{
    --background: linear-gradient(45deg, #4158D0 0%, #50c4c8 100%);
}
ion-content{
    --background: linear-gradient(90deg, #4158D0 0%, #50c4c8 100%);
}
ion-col{
    --background: linear-gradient(45deg, #4158D0 0%, #50c4c8 100%);
}
.add{
    --background: linear-gradient(45deg, #50c896, #41d048);
    width: 100%;
}
.cancel{
    --background: linear-gradient(45deg, #d04141 0%, #c87250 100%);
    width: 100%;
}
.container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}