
<app-header></app-header>

<ion-content>
    <app-slider></app-slider>
    <div class="container">
        <h1><img src="assets/icon/puzzle.png"></h1>
        <h2>Misión</h2>
        <p>Somos un equipo capaz en la gestión de proyectos de
            alta complejidad técnica aportando soluciones eficaces,
            transmitiendo seguridad y construyendo confianza que generan
            vínculos con nuestros clientes.
        </p>
    </div>
    <div class="container2">
        <h1><img src="assets/icon/globe.png"></h1>
        <h2>Visión</h2>
        <p>Queremos ser un jugador competente y global en la 
            reparación y conversión de cualquier artefacto marino.
            invertiremos y trabajaremos para crecer y alcanzar los niveles
            de productividad, flexibilidad y efectividad que nos permita
            recorrer el camino a nuestro sueño.
        </p>
    </div>
    <div class="container3">
        <h1><img src="assets/icon/like.png"></h1>
        <h2>Valores</h2>
        <p>Los valores de nuestra empresa son los pilares de la identidad
            organizativa, lo que permite dar sentido a nuestras acciones
            del dóa a día. Actuamos de acuerdo con estos valores: Responsabilidad,
            cercanía, implicación, respeto, honestidad y pasión.
        </p>
    </div>
</ion-content>
