.container{
    height:40%;
}
.container h1{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.container p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: medium;
    color: black; 
}
.container h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}
.container2{
    height:40%;
}
.container2 h1{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    color: black;
}
.container2 p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: medium;
    color: black;
}
.container2 h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}

.container3{
    height:40%;
}
.container3 h1{
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    color: black;
}
.container3 p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: medium;
    color: black;
}
.container3 h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}
ion-content{
    --background: linear-gradient(45deg, #4158D0 0%, #50c4c8 100%);
}